*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #dbdbdb;
  padding: 10px;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 65vh;
  justify-content: space-between;
  /* border: 1px solid blue; */

}

.none {
  visibility: hidden;
}

.btnMain {
  background-color: #d8d8d8;
  border: 1px solid #c2c2c2;
}

.completeCadeia {
  display: flex;
  height: 4em;
  padding: 10px;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;
  gap: 5px;
}

.idCadeia {
  border-bottom: 1px solid #c2c2c2;
  background-color: #fff;
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  padding: 10px;
}

.default-view {
  max-width: 1200px;
  min-width: 300px;
  margin: auto;
}

.container {
  background-color: #ececec;
}

.image {
  border: 1px solid #000;
  width: 300px;
  height: 200px;
}

.message {
  padding: 5px;
  margin: 40px 80px;
  display: flex;
  align-items: center;
  gap: 5px;
}

footer {
  background-color: #ffffff;
  padding: 10px;
}

.button-options {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 500px;
  flex-wrap: wrap;
  margin: auto;
  padding: 10px;
}

.btn {
  background-color: #b8b8b8;
  border: 1px solid transparent;
  color: #101011;
  gap: 10px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1.25em;
  width: 100px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}